html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* mencegah horizontal scroll */
  background-color: #1e1e1e;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}